@model BoozeHoundCloud.Areas.Core.ViewModels.TransactionFormViewModel

@{
  bool isNewTransaction = (Model.Id == 0);
  var formTitle = "";

  if (isNewTransaction)
  {
    formTitle = "New Transaction";
  }
  else
  {
    formTitle = "Edit Transaction";
  }

  ViewBag.Title = formTitle;
}

<h2>@formTitle</h2>

@using (Html.BeginForm("Save", "Transaction"))
{
  <div class="form-group">
    @Html.LabelFor(m => m.Date)
    @Html.TextBoxFor(m => m.Date, new { @class="form-control" })
    @Html.ValidationMessageFor(m => m.Date)
  </div>
  <div class="form-group">
    @Html.LabelFor(m => m.Reference)
    @Html.TextBoxFor(m => m.Reference, new { @class = "form-control" })
  </div>
  <div class="form-group">
    @Html.LabelFor(m => m.Description)
    @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
  </div>
  <div class="form-group">
    @Html.LabelFor(m => m.DebitAccountId)
    
    @if (isNewTransaction)
    {
      @Html.DropDownListFor(
        m => m.DebitAccountId,
        new SelectList(
          Model.Accounts,
          "Id",
          "Name"),
        "Select one...",
        new { @class = "form-control", @onchange = "PopulateCreditAccounts()" })
      @Html.ValidationMessageFor(m => m.DebitAccountId)
    }
    else
    {
      @Html.TextBoxFor(
        m => m.Accounts.First(x => x.Id == Model.DebitAccountId).Name,
        new { @class = "form-control", @readonly = "true" } )
    }
  </div>
  <div class="form-group">
    @Html.LabelFor(m => m.CreditAccountId)

    @if (isNewTransaction)
    {
      @Html.DropDownListFor(
        m => m.CreditAccountId,
        new SelectList(
          "",
          "Id",
          "Name"),
        "Select one...",
        new { @class = "form-control" })
      @Html.ValidationMessageFor(m => m.CreditAccountId)
    }
    else
    {
      @Html.TextBoxFor(
        m => m.Accounts.First(x => x.Id == Model.CreditAccountId).Name,
        new { @class = "form-control", @readonly = "true" })
    }
  </div>
  <div class="form-group">
    @{
      var valueAttributes = new Dictionary<string, object> { { "class", "form-control" } };

      if (isNewTransaction == false)
      {
        valueAttributes.Add("readonly", "true");
      }
    }

    @Html.LabelFor(m => m.Value)
    @Html.TextBoxFor(m => m.Value, "{0:n2}", valueAttributes )
  </div>
  <div class="form-group">
    @Html.LabelFor(m => m.CreatedTimestamp)
    @Html.TextBoxFor(m => m.CreatedTimestamp, new { @class = "form-control", @readonly = "true" })
  </div>
  <div class="form-group">
    @Html.LabelFor(m => m.ProcessedTimestamp)
    @Html.TextBoxFor(m => m.ProcessedTimestamp, new { @class = "form-control", @readonly = "true" })
  </div>

  @Html.HiddenFor(m => m.Id);
  @Html.HiddenFor(m => m.DebitAccountId);
  @Html.HiddenFor(m => m.CreditAccountId);
  @Html.AntiForgeryToken()

  <button type="submit" class="btn btn-primary">Save</button>
  <button type="button" class="btn btn-default" onclick="history.go(-1);">Cancel</button>
}

@section scripts
{
  @Scripts.Render( "~/bundles/jqueryval" )

  <script>
    $(document).ready(function ()
      {
        $('#Date').val(FormatDateTimeForLocalTime($('#Date').val(), "YYYY-MM-DD"));
        $('#CreatedTimestamp').val(FormatDateTimeForLocalTime($('#CreatedTimestamp').val(), "YYYY-MM-DD HH:MM:SS"));
        $('#ProcessedTimestamp').val(FormatDateTimeForLocalTime($('#ProcessedTimestamp').val(), "YYYY-MM-DD HH:MM:SS"));
      });

    function FormatDateTimeForLocalTime(dateTime, format)
    {
      if (dateTime === '') 
      {
        return '';
      }

      var offsetFromUtc = new Date().getTimezoneOffset();
      var utcDateTime = new Date(dateTime);
      var localDateTime = new Date(utcDateTime.getTime() - (offsetFromUtc * 60 * 1000));
      return moment(localDateTime).format(format);
    }

    function PopulateCreditAccounts()
    {
      var debitAccoundId = $('#DebitAccountId').val();

      $.ajax({
        url: '/Api/Core/Account/CanCredit/' + debitAccoundId,
        type: 'GET',
        dataType: 'JSON',
        success: function (accounts)
        {
          $('#CreditAccountId').html('');

          $('#CreditAccountId').append('<option>Select one...</option>');

          $.each(accounts, function (i, account)
          {
            $('#CreditAccountId').append(
              $('<option></option>').val(account.Id).html(account.Name));
          });
        }
      });
    }
  </script>
}