@model BoozeHoundCloud.Areas.Core.ViewModels.AccountFormViewModel

@{
  bool isNewAccount = (Model.Id == 0);
  var formTitle = "";

  if (isNewAccount)
  {
    formTitle = "New Account";
  }
  else
  {
    formTitle = "Edit Account";
  }

  ViewBag.Title = formTitle;
}

<h2>@formTitle</h2>

@using (Html.BeginForm("Save", "Account"))
{
  <div class="form-group">
    @Html.LabelFor(m => m.Name)
    @Html.TextBoxFor(m => m.Name, new { @class="form-control" })
    @Html.ValidationMessageFor(m => m.Name)
  </div>
  <div class="form-group">
    @Html.LabelFor(m => m.AccountTypeId)
    
    @if (isNewAccount)
    {
      @Html.DropDownListFor(
        m => m.AccountTypeId,
        new SelectList(
          Model.AccountTypes,
          "Id",
          "Name"),
        "Select one...",
        new { @class = "form-control" })
      @Html.ValidationMessageFor(m => m.AccountTypeId)
    }
    else
    {
      @Html.TextBoxFor(
        m => m.AccountTypes.First(x => x.Id == Model.AccountTypeId).Name,
        new { @class = "form-control", @readonly = "true" } )
    }
  </div>

  @Html.HiddenFor(m => m.Id)
  @Html.HiddenFor(m => m.AccountTypeId)
  @Html.HiddenFor(m => m.Balance)
  @Html.AntiForgeryToken()

  <button type="submit" class="btn btn-primary">Save</button>
  <button type="button" class="btn btn-default" onclick="history.go(-1);">Cancel</button>
}

@section scripts
{
  @Scripts.Render( "~/bundles/jqueryval" )
}